[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
requests = "==2.18.4"
psycopg2 = "*"
whitenoise = "*"
dj-database-url = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
