<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Final Graph</title>
            <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css" rel="stylesheet" type="text/css">
            
                    
                    
            


        <!-- COPY/PASTE SCRIPT HERE -->
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>        
        
        
        
    </head>
    <body>
        <!-- INSERT DIVS HERE -->
       <div class=page>
          {{ script | safe }}
              
          {{ div | safe }}
       </div>
    </body>
</html>
